
<div class="themes-item">
  <div class="themes-item-icon">
    <a (click)="goTo(theme.name)"><img [src]=theme.img [alt]=theme.title></a>
  </div>
  <div class="themes-item-title">
    <h3>{{theme.title}}</h3>
    <a class="fa fa-cog" aria-hidden="true" (click)="editTheme()"></a>
    <a class="fa fa-times" aria-hidden="true" (click)="deleteTheme()"></a>
  </div>
  <div class="themes-item-content">
    <ul>
        <li *ngFor="let item of theme.contentList"><a (click)="goTo(theme.name, item)">{{item}}</a></li>
    </ul>
  </div>
</div>
