<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#home">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="#myPage">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#themes">Themes</a></li>
          <li><a href="#cv">CV</a></li>
          <li><a href="#work">Works</a></li><!--Temporary-->
          <li><a (click)="showDialog = !showDialog">Dialog</a></li>
          <li *ngIf="!isLogged"><a (click)="logIn()"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
          <li *ngIf="isLogged"><a (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<app-dialog [(visible)]="showDialog">
  <h1>Hello World</h1>
  <button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-dialog>

<router-outlet></router-outlet>

<footer [hidden]="true">
  <div id="contact"></div>
  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="footer-copyrights">
            <p>Copyrights &copy; 2017 All rights reserved</p>
          </div>
        </div>
        <div class="col-md-6">
          <div id="footer-menu">
            <ul>
              <li><a href="#home">Home /</a></li>
              <li><a href="#themes">Themes /</a></li>
              <li><a href="#cv">CV</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
