<div class="img-bg-diagonal bg-parallax">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="content-content-box">
        <div id="content-content-box-outer">
          <div id="content-content-box-inner">
            <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
              <h3>{{title}}</h3>
              <div class="content-title-underline"></div>
            </div>
            <div class="content-descr wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" [innerHTML]="content">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
