<section id="content">
  <div class="img-theme-container wow fadeIn" data-wow-duration="1.5s" data-wow-delay=".5s">
      <img [src]="theme.image?theme.image:''" [alt]="theme.name">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="content-content-box">
          <div id="content-content-box-outer">
            <div id="content-content-box-inner">
              <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <h3>{{theme.name}}</h3>
                <div class="content-title-underline"></div>
              </div>
              <div class="content-descr wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                  <ul>
                      <li *ngFor="let subtheme of theme.subthemes">{{subtheme}} <a class="fa fa-plus" aria-hidden="true" (click)="addArticle(subtheme)"></a></li>
                  </ul>
                <section id="Examples">
                    <markdown>
                        ## Markdown h2 content
                    </markdown>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
