
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <form novalidate [formGroup]="authForm" (ngSubmit)="onSubmit()">
          <div class="form-text text-muted" *ngIf="incorrect">
            <p>Incorrect login or password</p>
          </div>

        <div class="form-group" [ngClass]="{
        'has-danger': login.invalid && (login.dirty || login.touched),
        'has-success': login.valid && (login.dirty || login.touched)}">
          <label>Login</label>
          <input type="text" class="form-control" formControlName="login">
          <div class="form-text text-muted" *ngIf="login.errors && (login.dirty || login.touched)">
            <p *ngIf="login.errors.required">Login Name is required</p>
          </div>
        </div>

        <div class="form-group" [ngClass]="{
          'has-danger': password.invalid && (password.dirty || password.touched),
          'has-success': password.valid && (password.dirty || password.touched)}">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div class="form-text text-muted" *ngIf="password.errors && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
          </div>
        </div>

        <re-captcha (resolved)="resolved($event)" siteKey="6Leb-jcUAAAAAAOz26b3FLXeTmzRL4eviXPOjoUl"></re-captcha>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <!--<div class="modal-footer">
   <button class="btn btn-primary" type="button">OK</button>
</div>-->
